.footer {
	flex-direction: column;
	align-items: center;
	gap: 15px 0;
	padding-bottom: 10px;
	&__content {
		align-items: center;
		justify-content: center;
		gap: 0 20px;
		font-size: 10px;
	}
	&__list{
		justify-content: center;
		gap: 40px;
		align-items: center;
	}
	&__link-img{
		width: 46px;
		height: 46px;
		cursor: pointer;
		&:hover{
			transform: scale(1.2);
		}
	}
}

