@import "vars";

.skills {
  animation: ride 0.4s ease-in;
  padding: 0 20px;

  &-img {
    width: 144px;
  }

  &__title-sub {
    color: @color-red;
    text-align: center;
    line-height: 2;
  }

  &__box {
    margin: 0 auto 1rem;
    padding: 10px;
    border-radius: 2rem;
    max-width: 800px;
    box-shadow: @box-shadow;

  }
}

.title {
  font-family: @Manjari;
  font-weight: 600;
  text-align: center;
  color: @color-gray;
  padding: 50px 0 10px;
  font-size: 3rem;
}

.sub-text {
  color: @primary-color;
  text-align: center;
}