.primary-color {
  color: #6500ff;
}
.red {
  color: #fe3f3f;
}
.gray {
  color: #969696;
}
.light-blue {
  color: #00bebe;
}
.blue {
  color: #3963e9;
}
.green {
  color: #009c00;
}
.orange {
  color: #ec5222;
}
.yellow {
  color: #b4a600;
}
.dark-blue {
  color: #254e85;
}
.violet {
  color: #5400c4;
}
.pink {
  color: #cd6799;
}
.dark-pink {
  color: #8f13fe;
}
.ocean {
  color: #00758f;
}
.welcome {
  height: 100vh;
}
.welcome-inner {
  height: 92%;
  gap: 30px;
}
.welcome-inner__intro {
  margin-top: 230px;
  display: inline-flex;
  flex: 1 1 auto;
}
.btn.btn--scroll {
  color: #6500ff;
  background: none;
}
.btn.btn--scroll:hover {
  background-color: #fff;
}
.intro-inner__logo {
  width: 128px;
  border-radius: 50%;
}
.intro-inner__title {
  background: linear-gradient(45deg, #8433ff, #3d0099);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  font-size: 2rem;
  font-weight: bolder;
}
.intro-inner__title:hover {
  background: linear-gradient(45deg, #280066, #6500ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
}
.modal-header {
  border-bottom: 1px solid #6500ff;
}
.modal-body {
  text-align: center;
}
.modal-footer {
  border: none;
}
.header {
  left: 0;
  right: 0;
  background-color: #ffffff;
  animation: ride 0.4s ease-in;
}
.header__menu {
  gap: 20px;
  margin: 0;
  border-bottom: 1px solid #6500ff;
  border-top: 1px solid #6500ff;
}
.header__link {
  display: inline-block;
  padding: 10px 0;
  font-weight: bolder;
  color: #6500ff;
}
.header-menu-icon {
  display: none;
}
.main-content {
  font-size: 1.2rem;
  gap: 20px;
}
.profile-card {
  animation: ride 0.4s ease-in-out;
  max-width: 400px;
}
.profile-card__name {
  color: #6500ff;
}
.profile-card__menu {
  font-family: var(--bs-body-font-family);
  padding: 5px 0;
  gap: 7px 5px;
}
.main-logo-img {
  animation: ride 0.4s ease-in-out;
  height: 350px;
  border-radius: 40px;
}
.profile-card__item {
  border-radius: 0.5rem;
  line-height: 1.3rem;
  border: 1px solid black;
  padding: 5px;
}
.profile-card__item:hover {
  transform: scale(1.09);
}
.profile-card__item--1 {
  border-color: #00bebe;
}
.profile-card__item--2 {
  border-color: #5400c4;
}
.profile-card__item--3 {
  border-color: #ec5222;
}
.profile-card__item--4 {
  border-color: #3963e9;
}
.profile-card__item--5 {
  border-color: #b4a600;
}
.profile-card__item--6 {
  border-color: #254e85;
}
.profile-card__item--7 {
  border-color: #cd6799;
}
.profile-card__item--8 {
  border-color: #8f13fe;
}
.profile-card__item--9 {
  border-color: #009c00;
}
.profile-card__item--10 {
  border-color: #00758f;
}
.achievments {
  box-shadow: 0 1px 5px 1px rgba(113, 78, 160, 0.9);
  border-radius: 1rem;
  padding: 10px;
  color: #636363;
}
.achievments__item {
  padding: 10px;
  font-size: 1.5rem;
}
.achievments .profile-link {
  color: #bb2d3b;
}
.achievments .profile-link:hover {
  color: maroon;
}
.login-img {
  width: 40px;
}
.skills {
  animation: ride 0.4s ease-in;
  padding: 0 20px;
}
.skills-img {
  width: 144px;
}
.skills__title-sub {
  color: #fe3f3f;
  text-align: center;
  line-height: 2;
}
.skills__box {
  margin: 0 auto 1rem;
  padding: 10px;
  border-radius: 2rem;
  max-width: 800px;
  box-shadow: 0 1px 5px 1px rgba(113, 78, 160, 0.9);
}
.title {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  text-align: center;
  color: #969696;
  padding: 50px 0 10px;
  font-size: 3rem;
}
.sub-text {
  color: #6500ff;
  text-align: center;
}
@media (max-width: 605px) {
  .header__link {
    font-size: 0.75rem;
  }
}
@media (max-width: 565px) {
  .skills-img {
    width: 120px !important;
  }
  .skills-list--item svg {
    width: 120px !important;
  }
}
@media (max-width: 490px) {
  .page {
    font-size: 0.75rem;
  }
  .main-logo-img {
    height: 300px;
  }
  .header__menu {
    gap: 10px;
  }
}
@media (max-width: 470px) {
  .header__link {
    font-size: 0.7rem !important;
  }
}
@media (max-width: 465px) {
  .skills-img {
    width: 100px !important;
  }
  .skills-list--item svg {
    width: 100px !important;
  }
  header .container {
    gap: 15px;
  }
}
@media (max-width: 456px) {
  .title {
    font-size: 2rem;
  }
  .header-menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header-menu-icon::after,
  .header-menu-icon::before,
  .header-menu-icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: #111;
  }
  .dark-theme .header-menu-icon::after,
  .dark-theme .header-menu-icon::before,
  .dark-theme .header-menu-icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: #969696;
  }
  .header-menu-icon::after,
  .header-menu-icon::before {
    content: '';
  }
  .header-menu-icon::after {
    bottom: 0;
  }
  .header-menu-icon::before {
    top: 0;
  }
  .header-menu-icon span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .header-menu-icon.active::before {
    top: 50%;
    transform: rotate(-45deg);
  }
  .header-menu-icon.active::after {
    top: 50%;
    transform: rotate(45deg);
  }
  .header-menu-icon.active span {
    transform: scale(0) translate(0, -50%);
  }
  .header__nav {
    position: fixed;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
  }
  .dark-theme .header__nav {
    background-color: #19191a;
  }
  .header__nav.active {
    opacity: 1;
    z-index: 3;
    display: block;
  }
  .header__menu {
    flex-direction: column;
    border: none;
    align-items: center;
    margin-top: 80px;
  }
  .header__link {
    font-size: 32px !important;
  }
  .nav__menu {
    gap: 40px;
  }
  .footer__list {
    gap: 20px !important;
  }
  .footer__link-img {
    width: 30px !important;
    height: 30px !important;
  }
}
@media (max-width: 420px) {
  .error h2:nth-child(2) {
    font-size: 0.75rem;
  }
}
@media (max-width: 400px) {
  .sub-text,
  footer {
    font-size: 1rem;
  }
  .intro-inner__title {
    font-size: 1.4rem;
  }
  .projects-menu--item {
    font-size: 1.2rem;
  }
  .skills-title--sub,
  .main-content {
    font-size: 1rem;
  }
  .main-logo-img {
    height: 250px;
  }
  .skills-img {
    width: 80px !important;
  }
  .skills-list--item svg {
    width: 80px !important;
  }
}
@keyframes opac {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes trans {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ride {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.light-theme {
  background-color: #fff;
  transition: 0.4s ease-in-out background-color;
}
.dark-theme {
  transition: 0.4s ease-in-out background-color;
  background-color: #19191a;
  color: #969696;
}
.dark-theme .header {
  background-color: #19191a;
  transition: 0.4s ease-in-out background-color;
}
.dark-theme h5 {
  color: #161617 !important;
}
.dark-theme .btn:hover {
  background-color: #19191a;
}
.dark-theme .profile-projects--menu {
  background-color: #19191a;
  transition: 0.4s ease-in-out background-color;
}
.dark-theme .modal-content {
  background-color: #19191a;
}
.footer {
  flex-direction: column;
  align-items: center;
  gap: 15px 0;
  padding-bottom: 10px;
}
.footer__content {
  align-items: center;
  justify-content: center;
  gap: 0 20px;
  font-size: 10px;
}
.footer__list {
  justify-content: center;
  gap: 40px;
  align-items: center;
}
.footer__link-img {
  width: 46px;
  height: 46px;
  cursor: pointer;
}
.footer__link-img:hover {
  transform: scale(1.2);
}
.carousel {
  width: 70%;
}
.carousel-item img {
  border-radius: 10px;
}
.carousel-indicators {
  margin-bottom: 0;
}
html {
  scroll-behavior: smooth;
}
.page {
  animation: opac 0.5s;
  min-width: 300px !important;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.page.lock {
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
ul {
  padding: 0;
  list-style-type: none;
}
a {
  transition: 0.2s ease-in-out color;
  color: #6500ff;
  text-decoration: none;
}
a:hover {
  color: #29026f;
}
.text-logo {
  color: #6500ff;
}
.btn {
  transition: 0.3s ease-in-out all;
  color: #fff;
  font-size: inherit;
  background: linear-gradient(90deg, #741aff, #5b00e6);
  border-radius: 10px;
  border: none;
}
.btn:hover {
  color: #280066;
}
.btn-check:focus + .btn,
.btn .btn:focus {
  box-shadow: none;
  outline: none;
}