//colors
@primary-color: #6500ff;
@color-red: #fe3f3f;
@color-gray: #969696;
@color-blue--light: #00bebe;
@color-green: #009c00;
@color-blue: #3963e9;
@color-orange: #ec5222;
@color-yellow: #b4a600;
@color-blue--dark:#254e85;
@color-violet: #5400c4;
@color-pink:#cd6799;
@color-pink--dark:#8f13fe;
@color-ocean: #00758f;
@Manjari: 'Rubik', sans-serif; //Font-family
@box-shadow:0 1px 5px 1px rgba(113, 78, 160, 0.9); //shadow
@animation-ride: ride 0.4s ease-in-out; //animation
@dark-theme-color:#19191a; // dark-theme color
// colors for spans
.primary-color{
  color: @primary-color;
}
.red{
  color: @color-red;
}
.gray{
  color: @color-gray;
}
.light-blue{
  color: @color-blue--light;
}
.blue{
  color: @color-blue;
}
.green{
  color: @color-green;
}
.orange{
  color: @color-orange;
}
.yellow{
  color: @color-yellow;
}
.dark-blue{
  color: @color-blue--dark;
}
.violet{
  color: @color-violet;
}
.pink{
  color: @color-pink;
}
.dark-pink{
  color: @color-pink--dark;
}
.ocean{
  color: @color-ocean;
}